table {

    width: 700px;
    height: 500px;
    border: 20px solid red;
    text-align: center;
    
}

td, th {
    background-color: aqua;
    color:black;
    font-size: 30px;
    border: 10px solid orange;
    border-collapse: collapse;
    width: 70px;
    height: 70px;
}